@import '@styles/fonts.scss';

body{
    background: no-repeat fixed linear-gradient(to right,#D7FDFF, #D3E5FD);
    font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
